<fieldset class="{settings.styles.framework.fieldWrappingClasses}" {f:if(condition:field.description, then:'aria-describedby="powermail_description_{field.marker}"')}>

	<f:comment>
		<!-- LEGEND -->
	</f:comment>
	<f:render partial="Form/FieldLabel" arguments="{field:field}" />

	<f:comment>
		<!-- ELEMENTS -->
	</f:comment>
	<f:variable name="additionalAttributes" value="{data-powermail-errors-container:'.powermail_field_error_container_{field.marker}', data-powermail-class-handler:'.powermail__fieldwrap_{field.marker} > fieldset > div'}" />

	<f:for each="{field.modifiedSettings}" as="setting" iteration="index">
		<div class="{settings.styles.framework.checkClasses} {vh:validation.errorClass(field:field, class:'powermail_field_error')}">
			<f:form.checkbox
				property="{field.marker}."
				value="{setting.value}"
				checked="{vh:misc.prefillMultiField(field:field, mail:mail, cycle:index.cycle)}"
				id="powermail_field_{field.marker}_{index.cycle}"
				additionalAttributes="{additionalAttributes}"
				class="powermail__checkbox powermail__checkbox_{field.marker}" />

			<label for="powermail_field_{field.marker}_{index.cycle}">
				<f:format.raw><span class="option-element" aria-hidden="true"></span><span class="option-text">{setting.label}</span></f:format.raw>
			</label>
		</div>
	</f:for>
	
	<f:comment>
		<!-- ERRORS -->
	</f:comment>
	<f:if condition="{settings.validation.client}">
		<f:then>
			<div class="powermail_field_error_container powermail_field_error_container_{field.marker}"></div>
		</f:then>
		<f:else>
			<f:if condition="{fieldError}"><f:format.raw>{fieldError}</f:format.raw></f:if>
		</f:else>
	</f:if>

	<f:comment>
		<!-- DESCRIPTION -->
	</f:comment>
	<f:render partial="Form/FieldDescription" arguments="{field:field}" />
</fieldset>