<f:comment>
	<!-- LABEL -->
</f:comment>
<f:render partial="Form/FieldLabel" arguments="{_all}" />

<f:comment>
	<!-- DESCRIPTION -->
</f:comment>
<f:render partial="Form/FieldDescription" arguments="{field:field}" />

<div class="{settings.styles.framework.fieldWrappingClasses}">

	<f:comment>
		<!-- FIELDS -->
	</f:comment>
	<f:form.password
		id="powermail_field_{field.marker}"
		property="{field.marker}"
		value=""
		additionalAttributes="{vh:validation.validationDataAttribute(field:field)}"
		class="powermail__field powermail__field--password {settings.styles.framework.fieldClasses} {vh:validation.errorClass(field:field, class:'powermail_field_error')}" />
</div>

<div class="{settings.styles.framework.fieldWrappingClasses}">
	<label for="powermail_field_{field.marker}_mirror" class="powermail__label{f:if(condition:field.hideLabel, then: ' sr-only')}">
		<f:translate key="LLL:EXT:powermail/Resources/Private/Language/locallang.xlf:writePasswordAgain" /><f:if condition="{field.mandatory}"><span class="mandatory" aria-hidden="true">*</span></f:if>
	</label>

	<f:form.password
		id="powermail_field_{field.marker}_mirror"
		property="{field.marker}_mirror"
		value=""
		additionalAttributes="{vh:validation.passwordValidationDataAttribute(field:field)}"
		class="powermail__field powermail__field--password {settings.styles.framework.fieldClasses} {vh:validation.errorClass(field:field, class:'error')}" />
</div>