{namespace vh=In2code\Powermail\ViewHelpers}

<f:comment>
	<!-- LABEL -->
</f:comment>
<f:render partial="Form/FieldLabel" arguments="{_all}" />

<f:comment>
	<!-- DESCRIPTION -->
</f:comment>
<f:render partial="Form/FieldDescription" arguments="{field:field}" />

<div class="{settings.styles.framework.fieldWrappingClasses}">

	<f:comment>
		<!-- FIELD -->
	</f:comment>
	<f:if condition="{additionalAttributes}">
		<f:then>
			<f:variable name="additionalAttributes" value="{vh:validation.validationDataAttribute(field:field, additionalAttributes:additionalAttributes)}" />
		</f:then>
		<f:else>
			<f:variable name="additionalAttributes" value="{vh:validation.validationDataAttribute(field:field)}" />
		</f:else>
	</f:if>

	<vh:form.selectField
		options="{field.modifiedSettings}"
		property="{field.marker}"
		class="powermail__field powermail__field--select {settings.styles.framework.fieldClasses} {vh:validation.errorClass(field:field, class:'powermail__field-error')}"
		id="powermail_field_{field.marker}"
		additionalAttributes="{additionalAttributes}"
		multiple="{field.multiselectForField}"
		value="{vh:misc.prefillField(field:field, mail:mail)}" />

	<f:comment>
		<!-- ERROR -->
	</f:comment>
	<f:if condition="{fieldError}"><f:format.raw>{fieldError}</f:format.raw></f:if>

	<f:if condition="{field.multiselect}">
		<f:if condition="{settings.validation.client}">
			<div class="powermail__field-error-container powermail__field-error-container_{field.marker}"></div>
		</f:if>
	</f:if>
</div>