{namespace vh=In2code\Powermail\ViewHelpers}
<f:layout name="Default"/>

Render Powermail Form
{form}            All Forms with their Pages and their Fields
{ttContentData}        All values from content element with plugin


<f:section name="main">
    <f:alias map="{flashMessageClass:'powermail_message_error'}">
        <f:render partial="Misc/FlashMessages" arguments="{_all}"/>
    </f:alias>

    <f:if condition="{form}">
        <f:then>
            <div class="container-fluid">
                <f:form
                    action="{action}"
                    section="c{ttContentData.uid}"
                    name="field"
                    enctype="multipart/form-data"
                    additionalAttributes="{vh:validation.enableJavascriptValidationAndAjax(form:form)}"
                    addQueryString="{settings.misc.addQueryString}"
                    class="powermail__form powermail_form_{form.uid} {form.css} {settings.styles.framework.formClasses} {vh:misc.morestepClass(activate:settings.main.moresteps)}">

                    <f:if condition="{form.css} != 'nolabel'">
                        <h3>{form.title}</h3>
                    </f:if>

                    <f:comment>
                        <!--
                             ERROR LISTING
                             Render a list of all validation errors at the beginning
                        -->
                    </f:comment>
                    <f:render partial="Misc/FormError" arguments="{_all}"/>

                    <f:comment>
                        <!--
                             FORM INSTRUCTIONS
                             Render instruction on how to use the form before rendering the form.
                        -->
                    </f:comment>
                    <div class="powermail__instructions">
                        <p aria-hidden="true"><f:translate key="LLL:EXT:powermail_setup/Resources/Private/Language/locallang.xlf:form.requirement.hint"/></p>
                    </div>

                    <f:comment>
                        <!--
                             FORM PAGES NAVIGATION
                        -->
                    </f:comment>
                    <f:if condition="{settings.main.moresteps}">
                        <f:variable name="formNavigationLabel" value="{f:translate(key:'LLL:EXT:powermail_setup/Resources/Private/Language/locallang.xlf:form.navigation.label')}"/>
                        <nav class="powermail__navigation" aria-label="{formNavigationLabel}">
                            <h4 class="sr-only">{formNavigationLabel}</h4>

                            <ul class="powermail__navigation__list js-powermail-form-navigation">
                                <f:for each="{form.pages}" as="page" iteration="iterationPages">
                                    <li class="powermail__navigation__list-item">
                                        <button class="powermail__button{f:if(condition:iterationPages.isFirst,then:' active')} js-powermail-form-navigation-button" type="button"{f:if(condition:iterationPages.isFirst,then:' aria-current="step" ')}data-powermail-morestep-current="{iterationPages.index}" data-powermail-morestep-show="{iterationPages.index}">{page.title}</button>
                                    </li>
                                </f:for>
                            </ul>
                        </nav>
                    </f:if>

                    <f:comment>
                        <!--
                             FORM PAGES
                        -->
                    </f:comment>
                    <f:for each="{form.pages}" as="page" iteration="iterationPages">
                        <f:render partial="Form/Page" arguments="{_all}"/>
                    </f:for>

                    <f:form.hidden name="mail[form]" value="{form.uid}" />
                    <f:render partial="Misc/HoneyPod" arguments="{form:form}"/>
                </f:form>
            </div>
        </f:then>
        <f:else>
            <f:translate key="error_no_form"/>
        </f:else>
    </f:if>

</f:section>
