{namespace vh=In2code\Powermail\ViewHelpers}

<f:comment>
	<!-- FIELD TYPE DEFINITIONS -->
</f:comment>
<f:variable name="fieldType" value="single" />

<f:variable name="multiFields" value="{0:'check', 1: 'radio'}" />
<f:variable name="customFields" value="{0:'select', 1: 'hidden', 2: 'row', 3:'reset', 4:'text', 5:'submit', 6:'recaptcha', 7:'captcha', 8:'content'}" />

<f:comment>
	<!-- FIELD TYPE DETECTIONS -->
</f:comment>
<v:condition.iterator.contains needle="{powermailField.type}" haystack="{multiFields}">
	<f:then>
		<f:variable name="fieldType" value="multi" />
	</f:then>
	<f:else>
		<v:condition.iterator.contains needle="{fieldConfiguration.type}" haystack="{multiFields}">
			<f:variable name="fieldType" value="multi" />
		</v:condition.iterator.contains>
	</f:else>
</v:condition.iterator.contains>

<v:condition.iterator.contains needle="{powermailField.type}" haystack="{customFields}">
	<f:then>
		<f:variable name="fieldType" value="custom" />
	</f:then>
	<f:else>
		<v:condition.iterator.contains needle="{fieldConfiguration.type}" haystack="{customFields}">
			<f:variable name="fieldType" value="custom" />
		</v:condition.iterator.contains>
	</f:else>
</v:condition.iterator.contains>

<f:comment>
	<!--
		If this partial is called from powermail, turn the needed powermail settings (taken from powermailField) into the equivalent field configuration array
	-->
</f:comment>
<f:if condition="{powermailField}">
	<f:if condition="{fieldType} == 'single'">
		<f:then>
			<f:variable name="fieldConfiguration" value="{t:form.createFieldConfigurationFromPowermail(field:powermailField,mail:mail,isFieldTypeSingle:1)}" />
		</f:then>
		<f:else>
			<f:variable name="fieldConfiguration" value="{t:form.createFieldConfigurationFromPowermail(field:powermailField,mail:mail)}" />
		</f:else>
	</f:if>
</f:if>

<f:comment>
	<!--
		FIELD ERROR - Add rendered error message to configuration with key "error"
	-->
</f:comment>
<f:variable name="fieldError"><f:spaceless><f:render partial="Misc/FieldError" arguments="{fieldId:fieldConfiguration.id}" /></f:spaceless></f:variable>
<f:if condition="{fieldError}">
	<f:variable name="fieldConfiguration"><t:array array="{fieldConfiguration}" key="error" value="{fieldError}" /></f:variable>
</f:if>

<f:comment>
	<!-- ADDITIONAL ATTRIBUTES - maybe changed in form element partial if needed -->
</f:comment>
<f:if condition="{fieldType} == 'multi'">
	<f:then>
		<f:variable name="fieldConfiguration" value="{t:form.buildAttributes(configuration:fieldConfiguration,isFieldTypeMulti:1)}" />
	</f:then>
	<f:else>
		<f:variable name="fieldConfiguration" value="{t:form.buildAttributes(configuration:fieldConfiguration)}" />
	</f:else>
</f:if>

<f:comment>
	<!-- REQUIREMENT CHECK -->
</f:comment>
<f:if condition="{fieldConfiguration.type} && {fieldConfiguration.type} != ''">
	<f:then>
		<f:render partial="Form/FieldType/{vh:String.Upper(string:fieldType)}" arguments="{fieldConfiguration:fieldConfiguration}" />
	</f:then>
	<f:else>
		<f:render partial="Form/RenderError" arguments="{requiredAttribute:'type'}" />
	</f:else>
</f:if>
