<f:comment>
	<!--
		This partial renders an error for missing attributes
	-->
</f:comment>

<div class="powermail_form_errors">
	<h4 class="powermail_form_errors__header">
		<span class="icon icon-attention" aria-hidden="true"></span>
		<span class="wording"><f:translate key="LLL:EXT:template/Resources/Private/Language/Powermail/locallang.xlf:form.errors.rendering.headline"/></span>
	</h4>

	<p class="powermail_form_errors__description">
		<f:translate key="LLL:EXT:template/Resources/Private/Language/Powermail/locallang.xlf:form.errors.rendering.message.requiredAttribute" arguments="{0:requiredAttribute}" />
	</p>
</div>
