<f:comment>
	<!-- RENDER TYPE -->
</f:comment>
<f:variable name="renderType" value="date" />
<f:for each="{0:'date', 1:'time', 2:'datetime', 3:'datetime-local'}" as="allowedType">
	<f:if condition="{fieldConfiguration.validation.type} == {allowedType}">
		<f:if condition="{fieldConfiguration.validation.type} == 'datetime'">
			<f:then>
				<f:variable name="renderType" value="{allowedType}-local" />
			</f:then>
			<f:else>
				<f:variable name="renderType" value="{allowedType}" />
			</f:else>
		</f:if>
	</f:if>
</f:for>

<f:comment>
	<!-- FIELD -->
</f:comment>
<f:form.textfield
	type="{renderType}"
	id="powermail_field_{fieldConfiguration.id}"
	property="{fieldConfiguration.id}"
	value="{fieldConfiguration.value}"
	additionalAttributes="{fieldConfiguration.attributes}"
	class="powermail_element powermail_date{f:if(condition:fieldConfiguration.error, then: ' powermail_field_error')}" />
