


	<div class="radio{f:if(condition:fieldConfiguration.error, then: ' powermail_field_error')}">
		<f:form.radio
			property="{fieldConfiguration.id}"
			value="{option.value}"
			checked="{checked}"
			id="powermail_field_{fieldConfiguration.id}_{iteration.cycle}"
			additionalAttributes="{additionalAttributes}"
			class="powermail_radio powermail_radio_{fieldConfiguration.id}" />

		<label for="powermail_field_{fieldConfiguration.id}_{iteration.cycle}">
			<f:format.raw><span class="option-element" aria-hidden="true"></span><span class="option-text">{option.label}</span></f:format.raw>
		</label>
	</div>

