<f:if condition="{fieldConfiguration.settings.sitekey}">
	<f:then>
		<f:variable name="sitekey" value="{fieldConfiguration.settings.sitekey}" />
	</f:then>
	<f:else>
		<f:if condition="{settings.recaptcha.sitekey}">
			<f:variable name="sitekey" value="{settings.recaptcha.sitekey}" />
		</f:if>
	</f:else>
</f:if>

<f:if condition="{fieldConfiguration.settings.src}">
	<f:then>
		<f:variable name="src" value="{fieldConfiguration.settings.src}" />
	</f:then>
	<f:else>
		<f:if condition="{settings.recaptcha.src}">
			<f:variable name="src" value="{settings.recaptcha.src}" />
		</f:if>
	</f:else>
</f:if>

<div class="powermail_field">
	<f:if condition="{sitekey} && {src}">
		<f:then>
			<script src="{src}" async defer></script>
			<div class="g-recaptcha" data-sitekey="{sitekey}"></div>
		</f:then>
		<f:else>
			<p>
				Please register your domain to
				<a href="https://www.google.com/recaptcha/">https://www.google.com/recaptcha/</a>
				and enter your sitekey in TypoScript Constants like<br />
				plugin.tx_powermailrecaptcha.sitekey = abcdef
			</p>
		</f:else>
	</f:if>
</div>
