<div class="powermail_field">

	<f:comment>
		<!-- LABEL -->
	</f:comment>
	<f:render partial="Form/FieldLabel" arguments="{fieldId:fieldConfiguration.id,label:fieldConfiguration.label,hideLabel:fieldConfiguration.hideLabel,required:fieldConfiguration.required,tagToUse:'div'}" />

	<f:comment>
		<!-- MULTISELECT DETECTION -->
	</f:comment>
	<f:if condition="{fieldConfiguration.settings.multiselect} && {fieldConfiguration.settings.multiselect} == 'true'">
		<f:variable name="multiselect" value="true" />
	</f:if>

	<div class="powermail_select{f:if(condition:fieldConfiguration.error, then: ' powermail_field_error')}{f:if(condition:multiselect, then: ' multiselect')}">

		<f:variable name="prefillLabel" value="{t:form.prefillMultiField(configuration:fieldConfiguration,output:'label')}" />

		<f:variable name="additionalAttributes" value="" />
		<f:for each="{fieldConfiguration.attributes}" key="attribute" as="attributeValue">
			<f:switch expression="{attribute}">
				<f:case value="required"></f:case>
				<f:case value="aria-required">
					<f:comment>
						<!--
							buttons are not allowed to use aria-required, therefore we need another indicator to state out,
							that the select is required
						-->
					</f:comment>
					<f:variable name="additionalAttributes">{additionalAttributes} data-required="{attributeValue}"</f:variable>
				</f:case>
				<f:defaultCase>
					<f:variable name="additionalAttributes">{additionalAttributes} {attribute}="{attributeValue}"</f:variable>
				</f:defaultCase>
			</f:switch>
		</f:for>

		<button type="button" class="powermail_element powermail_select__button js-powermail-select-button{f:if(condition:fieldConfiguration.error, then: ' powermail_field_error')}" id="powermail_select_{fieldConfiguration.id}-button" data-input="powermail_select_{fieldConfiguration.id}" {f:if(condition:multiselect, then:'data-multiselect="true"')} aria-controls="powermail_select_{fieldConfiguration.id}-listbox" aria-expanded="false" aria-haspopup="listbox" {f:format.htmlentitiesDecode(value:additionalAttributes)}>
		<span class="label sr-only">{fieldConfiguration.label}</span>
		<span class="value">{prefillLabel}</span>
		<span class="error sr-only"></span>
		<span class="icon icon-arrow-down"></span>
		</button>

		<ul class="powermail_select__listbox js-powermail-select-listbox" id="powermail_select_{fieldConfiguration.id}-listbox" data-button="powermail_select_{fieldConfiguration.id}-button" role="listbox" tabindex="-1"{f:if(condition:fieldConfiguration.settings.multiselect, then:' aria-multiselectable="true"')}>
		<f:for each="{fieldConfiguration.settings.options}" as="option" iteration="iteration">

			<f:if condition="{option.selected}">
				<f:then>
					<f:variable name="selected" value="true" />
					<f:variable name="optionValue" value="{option.value}" />
				</f:then>
				<f:else>
					<f:variable name="selected" value="false" />
					<f:variable name="optionValue" value="" />
				</f:else>
			</f:if>

			<li class="powermail_select__option js-powermail-select-option" data-value="{option.value}" data-target="powermail_select_{fieldConfiguration.id}" id="powermail_field_{fieldConfiguration.id}_{iteration.cycle}" role="option" aria-selected="{selected}" tabindex="-1">
				<span class="icon icon-check" aria-hidden="true"></span>{option.label}
			</li>
		</f:for>
		</ul>

		<f:variable name="preselectedValues" value="{t:form.prefillMultiField(configuration:fieldConfiguration, returnArray:1)}" />
		<f:form.select id="powermail_select_{fieldConfiguration.id}" property="{fieldConfiguration.id}" multiple="{multiselect}" class="powermail_select__select{f:if(condition:fieldConfiguration.error, then: ' powermail_field_error')} js-powermail-select" additionalAttributes="{fieldConfiguration.attributes}">

			<f:comment>
				<!--
					In case of single select, render an empty option first.
					If nothing is preselected, the single select shall be empty, otherwise the first option is set, which would be wrong
				-->
			</f:comment>
			<f:if condition="!{multiselect}">
				<f:form.select.option value=""></f:form.select.option>
			</f:if>

			<f:for each="{fieldConfiguration.settings.options}" as="option">
				<v:condition.iterator.contains needle="{option.value}" haystack="{preselectedValues}">
					<f:then>
						<f:form.select.option value="{option.value}" selected="1">{option.label}</f:form.select.option>
					</f:then>
					<f:else>
						<f:form.select.option value="{option.value}">{option.label}</f:form.select.option>
					</f:else>
				</v:condition.iterator.contains>
			</f:for>
		</f:form.select>
	</div>

	<f:comment>
		<!-- DESCRIPTION -->
	</f:comment>
	<f:render partial="Form/FieldDescription" arguments="{fieldId:fieldConfiguration.id,description:fieldConfiguration.description}" />
</div>
