This field type hasn't been adapted to new refactored powermail structure.
If your need, refactored it accordingly.

<f:comment>
<div class="powermail_fieldwrap powermail_fieldwrap_type_typoscript powermail_fieldwrap_{field.marker} {field.css} {field.cssLarge} {field.cssXlarge} {settings.styles.framework.fieldAndLabelWrappingClasses} cell">
	<div class="{settings.styles.framework.fieldWrappingClasses} {settings.styles.framework.offsetClasses}">
		<f:cObject typoscriptObjectPath="{field.path}" data="{field}" />
	</div>
</div>
</f:comment>
