/* ***************************** *
 *                               *
 *  FORMS & POWERMAIL            *
 *                               *
 * ***************************** */

/**********************************************
 * Depending on the loaded parameters, the labels are
 * at a fixed position or hover above the input field
 *********************************************/
@import "form-variables-fix-labels";
//@import "form-variables-flying-labels";

@mixin powermail-page-legend($show) {
  @if $show {
    font-family: $powermail-page-legend-font;
    font-size: $powermail-page-legend-font-size;
    font-weight: $powermail-page-legend-font-weight;
    line-height: $powermail-page-legend-line-height;
    color: $powermail-page-legend-color;
    padding-top: rem-calc(28);
  } @else {
    display: none;
  }
}
@mixin powermail-label($position) {
  @if $position == 'flying' {
    .form-label, .powermail_label {
      display: block;
      position: absolute;
      max-height: 0;
      pointer-events: none;
      top: 0;
      left: 0;
      padding: 0;
      width: 100%;
      color: transparent !important;

      &:before {
        background-color: $form-label-background-color;
        color: $form-label-color;
        font-family: $form-label-font;
        font-size: $form-label-font-size;
        font-weight: $form-label-font-weight;
        line-height: $form-label-line-height;
        content: attr(data-content);
        display: inline-block;
        filter: blur(0);
        backface-visibility: hidden;
        transform-origin: left top;
        transition: all 0.2s ease;
        left: $form-label-left;
        top: $form-label-top;
        bottom: $form-label-bottom;
        padding: $form-label-padding;
        margin: $form-label-margin;
        position: absolute;
      }
    }

    .powermail_input {
      &:focus ~ .powermail_label {
        &::before {
          font-size: $form-flying-label-font-size;
          top: $form-flying-label-top;
        }
      }

      &.placeholder-shown + .powermail_label,
      &.has-text ~ .powermail_label {
        &::before {
          font-size: $form-flying-label-font-size;
          top: $form-flying-label-top;
        }
      }
    }
  } @else if $position == 'fix' {
    .form-label, .powermail_label {
      display: inline-block;
      position: absolute;
      background-color: $form-label-background-color;
      color: $form-label-color;
      font-family: $form-label-font;
      font-size: $form-label-font-size;
      font-weight: $form-label-font-weight;
      line-height: $form-label-line-height;
      left: $form-label-left;
      top: $form-label-top;
      bottom: $form-label-bottom;
      padding: $form-label-padding;
      margin: $form-label-margin;
    }
  } @else {
    content: "Unknown @if $position == 'flying' {label position #{$position}.";
  }
}
@mixin powermail-upload-label($position) {
  @if $position == 'flying' {
    color: transparent;
  } @else if $position == 'fix' {
    color: $color-corporate-gray;
  }
}
@mixin powermail-checkbox-display-flex($position) {
  @if $position == 'flying' {
    &.flex-row {
      // need for flying labels
      padding-top: rem-calc(24);
    }

    &:not(.flex-row) {
      .checkbox, .radio {
        &:first-child {
          // need for flying labels
          margin-top: rem-calc(24);
        }
      }
    }
  }
}

button,
input,
select,
textarea {
  /* Addresses font-family inconsistency between 'textarea' and other form elements. */
  font-family: $form-field-font;

  /* Corrects font size not being inherited in all browsers */
  font-size: $form-field-font-size;
  color: $form-field-color;

  /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
  margin: 0;

  /* Improves appearance and consistency in all browsers */
  vertical-align: baseline; /* 3 */
  *vertical-align: middle; /* 3 */

  line-height: $form-field-line-height;
}

fieldset {
  border: 0;
  padding: 0;
}

.powermail_legend {
  @include powermail-page-legend($show-powermail-page-legend);
}

.powermail_field {
  position: relative;

  &:not(.parsley-error) {
    input, select, textarea {
      &:hover, &:focus, &:active {
        background-color: $form-field-hover-background-color;
        color: $form-field-hover-color;
        border-color: $form-field-hover-border-color;

        ~ label {
          background-color: $form-field-hover-background-color;
          color: $form-field-hover-color;

          &:before {
            background-color: $form-field-hover-background-color;
            color: $form-field-hover-color;
          }
        }
      }
    }
  }

  &.parsley-error {
    input, select, textarea {
      color: $parsley-error-color;
      border-color: $parsley-error-color;
    }

    label:before {
      color: $parsley-error-color;
    }
  }
}

.form-input, .powermail_fieldwrap {
  padding-top: $width-gutter/2;
  margin: $width-gutter/2 0;
  position: relative;

  .content-container .content-container[class*="background"] &.cell:not(:last-of-type) {
    @include breakpoint(medium) {
      padding-right: 0;
    }
  }

  @include powermail-label($form-label-position);

  .form-text {
    color: $form-field-color;
    font-size: $form-field-font-size;
    font-weight: $form-field-font-weight;
    line-height: $form-field-line-height;
  }

  input, select, textarea {
    ~ .powermail_label {
      transition: color 0.2s ease;
    }
  }

  &.powermail_fieldwrap_type_input {
    .text-header {
      .powermail_label {
        font-family: $font-heading;
        font-size: rem-calc(16);
        font-weight: bold;
      }
    }
  }

  &.powermail_fieldwrap_type_textarea .powermail_label:before {
    top: rem-calc(-21);
  }

  textarea {
    background-color: $form-field-textarea-background-color;
    padding: rem-calc(5) rem-calc(10);

    &:hover, &:focus {
      background-color: $form-field-textarea-hover-background-color;
    }

    & + .parsley-errors-list.filled:after {
      top: rem-calc(5);
      right: rem-calc(5);
    }
  }

  input, button {
    &[type="checkbox"], &[type="radio"] {
      display: inline-block;
      position: absolute;
      opacity: 0;
      height: 0;
      width: 0;
    }

    &[type="checkbox"] + label, &[type="radio"] + label {
      display: flex;
      font-size: $form-field-font-size;
      position: relative;
      padding-left: 0;
      margin-bottom: rem-calc(12);

      color: $form-field-check-radio-color;
      cursor: pointer;

      .option-element {
        content: '';
        display: block;
        width: $form-field-check-radio-size;
        min-width: $form-field-check-radio-size;
        height: $form-field-check-radio-size;
        background-color: $form-field-check-radio-background-color;
        border: $form-field-check-radio-border-width solid $form-field-border-color;
        border-radius: $form-field-check-radio-border-radius;
        float: left;
        position: relative;
        left: 0;
        top: $form-field-check-radio-top;

        &:after {
          transition: opacity 0.3s ease;
        }
      }

      .option-text {
        margin-left: 1rem;
      }
    }

    &[type="checkbox"]:checked + label .option-element {
      background-color: $form-field-check-radio-select-background-color;
      border-color: $form-field-check-radio-select-background-color;

      &::after {
        content: $icon-check;
        position: absolute;
        color: $form-field-check-radio-select-color;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        font-size: rem-calc(24);
      }
    }

    &[type="radio"] + label .option-element{
      content: '';
      border-radius: 50%;
    }

    &[type="radio"]:checked + label .option-element {
      background-color: $form-field-check-radio-select-background-color;
      border-color: $form-field-check-radio-select-background-color;

      &::after {
        content: '';
        width: rem-calc(8);
        height: rem-calc(8);
        border-radius: 50%;
        background: $form-field-check-radio-select-color;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
      }
    }

    &[type="date"] {

    }

    &[type="file"] {
      height: 0;
      padding: 0;
      border: none;
      position: absolute;
    }

    &.special-file-placeholder {
      cursor: pointer;

      &::placeholder {
        font-size: rem-calc(13);
        @include powermail-upload-label($form-label-position);
      }
    }
  }

  &.powermail_fieldwrap_type_check, &.powermail_fieldwrap_type_radio {
    .checkbox, .radio {
      user-select: none;
      position: relative;

      label {
        padding-top: rem-calc(0);
        margin: rem-calc(8) 0;
      }

      &.parsley-error {
        color: $parsley-error-color;

        .option-element {
          border-color: $parsley-error-color;
        }

        &~ label:before {
          color: $parsley-error-color;
        }
      }
    }

    .display-flex {
      @include powermail-checkbox-display-flex($form-label-position);
    }

    .powermail_field .powermail_label:before {
      top: 0;
    }

    [type="checkbox"], [type="radio"] {
      &:hover, &:focus {
        & + label {
          color: $form-field-hover-color;

          .option-element {
            border-color: $form-field-hover-color;
          }
        }
      }
    }
  }

  &.powermail_fieldwrap_type_date {
    .powermail_label:before {
      top: #{$form-flying-label-top - rem-calc(-2)};
    }

    .parsley-errors-list.filled:after {
      right: rem-calc(35);
    }

    &.parsley-error .powermail_field input {
      color: $parsley-error-color;
    }
  }

  &.powermail_fieldwrap_type_submit {
    @include breakpoint(medium) {
      .powermail_field {
        text-align: right;
      }
    }
  }

  .parsley-errors-list.filled {
    &:after {
      position: absolute;
      content: $parsley-error-icon;
      font-size: $parsley-error-icon-size;
      width: $parsley-error-icon-size;
      height: $parsley-error-icon-size;
      color: $parsley-error-color;
      right: $parsley-error-icon-right;
      top: $parsley-error-icon-top;
    }

    + .powermail_label {
      color: $parsley-error-color;
    }
  }

  .parsley-errors-list > li {
    font-size: $parsley-error-font-size;
    font-family: $parsley-error-font;
    font-weight: $parsley-error-font-weight;
    line-height: $parsley-error-line-height;
    color: $parsley-error-color;
    margin-top: $parsley-error-margin-top;
  }

  .text-header {
    position: relative;
    .powermail_label {
      &:before {
        top: rem-calc(-31);
        color: $form-label-color !important;
      }
    }
  }

  .display-flex {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: $width-gutter/-2;

    & > * {
      margin-right: $width-gutter;
    }

    &.flex-row {
      flex-direction: row;
    }
  }
}

.form-input, .powermail_fieldwrap-x {
  .more.highlight {
    width: 100%;
    margin-top: rem-calc(21);
  }
}


/* ***************************** *
 *                               *
 *  custom styling               *
 *                               *
 * ***************************** */
.powermail_create {
  .table {
    font-size: $form-label-font-size;

    td {
      padding: 0 rem-calc(10) 0 0;
    }
  }
}

.plugin-bodytext {
  margin-top: rem-calc(18);
}


/* ***************************** *
 *                               *
 *  START CSS REFACTORING        *
 *                               *
 * ***************************** */

// GENERAL FORM STYLING
.powermail_form {

    // INSTRUCTIONS
    &__instructions {
        & > * {
            font-weight: bold;
        }
    }

    // STEPS NAVIGATION
    &__navigation {
        &__list {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            &-item {
                margin-right: rem-calc($width-gutter/4);

                &:last-of-type {
                    margin-right: 0;
                }
            }
        }
    }

    // BUTTONS
    &__button {
        position: relative;
        display: inline-block;
        cursor: pointer;
        padding: rem-calc(5px) rem-calc(10px);

        border: 2px solid $color-corporate-gray;
        background-color: $color-corporate-gray;
        color: $color-white;
        transition: color .3s ease, background-color .3s ease, border-color .3s ease;

        &:hover, &:active {
            border-color: $color-corporate-1;
            background-color: $color-white;
            color: $color-corporate-1;
        }

        &.active {
            border-color: $color-corporate-1;
            background-color: $color-corporate-1;
            color: $color-white;
        }

        &--submit {
            background-color: $color-corporate-1;
            border-color: $color-corporate-1;
            padding: rem-calc(4) rem-calc(30) rem-calc(4) rem-calc(13);

            &:after {
                position: absolute;
                content: $icon-chevron-right;
                font-size: rem-calc(16px);
                width: rem-calc(16px);
                height: rem-calc(16px);
                top: 50%;
                right: rem-calc(8px);
                transform: translateY(-50%);
                transition: right 0.3s ease;
            }

            &:hover, &:focus, &:active {
                &:after {
                    right: rem-calc(5px);
                }
            }
        }

        &--reset {
            background-color: $color-white;
            border-color: $color-text;
            color: $color-text;
        }
    }

    // HONEYPOT
    &__hp {
        display: none;
    }
}

// GENERAL FIELD STYLING
.powermail_field {
    &__description {
        margin-top: rem-calc(5px);
    }
}

// GENERAL ELEMENT STYLING
.powermail_element {
    background-color: $form-field-background-color;
    color: $form-field-color;
    font-size: $form-field-font-size;
    font-weight: $form-field-font-weight;
    line-height: $form-field-line-height;
    border-style: $form-field-border-style;
    border-color: $form-field-border-color;
    border-radius: $form-field-border-radius;
    border-top-width: $form-field-border-top-width;
    border-right-width: $form-field-border-right-width;
    border-bottom-width: $form-field-border-bottom-width;
    border-left-width: $form-field-border-left-width;
    padding: $form-field-padding $form-field-padding*2;
    width: 100%;
    max-width: 100%;
    outline: $form-field-outline;
    transition: all .3s ease;

    &::placeholder {
        color: $form-field-placeholder-color;
    }
}

// SELECT FIELD
.powermail_select {
    position: relative;

    // global icon settings of select field icons
    .icon {
        position: absolute;
        display: block;
        top: 0;
        width: rem-calc(32px);
        height: 100%;

        &:before {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    &__button {
        position: relative;
        width: 100%;
        min-height: rem-calc(32px);
        text-align: left;
        cursor: pointer;

        .icon {
            right: 0;
            transition: transform 300ms ease-in-out;
        }

        &[aria-expanded=true] {
            .icon {
                transform: rotate(180deg);
            }
        }
    }

    &__listbox {
        position: absolute;
        display: none;
        top: 100%;
        left: 0;

        width: 100%;
        z-index: 1;
        overflow: hidden;

        border: 1px solid $form-field-border-color;
        border-top: none;
        background-color: $color-white;

        &.show {
            display: block;
        }
    }

    &__option {
        position: relative;
        padding: $form-field-padding $form-field-padding*2 $form-field-padding rem-calc(32px);

        &:first-of-type {
            padding-top: $form-field-padding*2;
        }

        &:last-of-type {
            padding-bottom: $form-field-padding*2;
        }

        &:hover, &:active, &:focus, &.focus {
            cursor: pointer;
            background-color: $color-corporate-gray-light;
        }

        .icon {
            display: none;
            left: 0;
        }

        &[aria-selected=true] {
            background-color: $color-corporate-1;
            color: $color-white;

            .icon {
                display: block;
            }
        }
    }

    // hide the actual select and its error message, the custom select has its own
    &__select {
        &,
        & + .powermail-errors-list {
            display: none !important;
        }
    }
}

/* ***************************** *
 *                               *
 *  CUSTOM STYLING               *
 *                               *
 * ***************************** */
