/* ***************************** *
 *                               *
 *  ERROR LIST                   *
 *                               *
 * ***************************** */
.powermail_form_errors {
    padding: rem-calc($width-gutter/2) rem-calc($width-gutter);
    margin-bottom: rem-calc($width-gutter);
    background-color: $color-error;

    & > * {
        color: $color-white;
    }

    &__header {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-weight: bold;

        .icon {
            font-size: rem-calc(32px);
            margin-right: rem-calc($width-gutter/3);
        }
    }

    &__list-item {
        &:after {
            color: inherit !important;
            margin-left: rem-calc(5px) !important;
            left: 0;
        }
    }
}

/* ***************************** *
 *                               *
 *  ERROR FIELDS                 *
 *                               *
 * ***************************** */
input.powermail_field_error,
select.powermail_field_error,
button.powermail_field_error,
textarea.powermail_field_error {
    border: 3px solid $color-error !important;
}

.powermail_field_error {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: $color-error;

    &__icon {
        position: relative;
        font-size: rem-calc(16px);
    }

    &__message {
        margin-left: rem-calc(10px);
        font-size: rem-calc(16px);
    }
}

.powermail-errors-list.filled {
    margin-top: rem-calc(5px);

    li {
        position: relative;
        color: $color-error;
        padding-left: rem-calc(26px);

        &:before {
            @include resetBeforeAfter();
            content: $icon-attention;
            top: rem-calc(4px);
            left: 0;
        }
    }
}
