{namespace vh=In2code\Powermail\ViewHelpers}

<div class="{v:format.trim(content:'cell powermail_fieldwrap powermail_fieldwrap_type_{fieldConfiguration.type} powermail_fieldwrap_{fieldConfiguration.id} {fieldConfiguration.css}')}">

	<fieldset class="powermail_field display-flex{f:if(condition:'{fieldConfiguration.settings.sideBySide}',then:' flex-row')}" {f:if(condition:fieldConfiguration.description, then:'aria-describedby="powermail_description_{fieldConfiguration.id}"')}>

		<f:comment>
			<!-- ELEMENTS -->
		</f:comment>
		<f:render partial="Form/Field/{vh:String.Upper(string:fieldConfiguration.type)}" arguments="{fieldConfiguration:fieldConfiguration}" />

		<f:comment>
			<!-- ERRORS -->
		</f:comment>
		<f:if condition="{settings.validation.client}">
			<f:then>
				<div class="powermail_field_error_container powermail_field_error_container_{fieldConfiguration.id}"></div>
			</f:then>
			<f:else>
				<f:if condition="{fieldConfiguration.error}"><f:format.raw>{fieldConfiguration.error}</f:format.raw></f:if>
			</f:else>
		</f:if>

		<f:comment>
			<!-- DESCRIPTION -->
		</f:comment>
		<f:render partial="Form/FieldDescription" arguments="{fieldId:fieldConfiguration.id,description:fieldConfiguration.description}" />
	</fieldset>
</div>
