{namespace vh=In2code\Powermail\ViewHelpers}

<f:comment>
	<!--
		FORM ERROR RENDERING

		This partial renders a list of errors in an eye-catching box with an attention icon.
	-->
</f:comment>

<f:if condition="{ttContentData.header_layout} > 0">
	<f:then>
		<f:if condition="{ttContentData.subheader}">
			<f:then>
				<f:variable name="formErrorsHeaderType" value="{ttContentData.header_layout + 2}" />
			</f:then>
			<f:else>
				<f:variable name="formErrorsHeaderType" value="{ttContentData.header_layout + 1}" />
			</f:else>
		</f:if>
	</f:then>
	<f:else>
		<f:if condition="{ttContentData.subheader}">
			<f:then>
				<f:variable name="formErrorsHeaderType" value="{settings.defaultHeaderLayout + 2}" />
			</f:then>
			<f:else>
				<f:variable name="formErrorsHeaderType" value="{settings.defaultHeaderLayout + 1}" />
			</f:else>
		</f:if>
	</f:else>
</f:if>

<f:if condition="{formErrorsHeaderType} > 6">
	<f:variable name="formErrorsHeaderType" value="6" />
</f:if>

<f:form.validationResults>
	<f:if condition="{validationResults.flattenedErrors}">
		<div class="powermail__form-errors">
			<h{formErrorsHeaderType} class="powermail__form-errors__header"><span class="powermail__form-errors__icon"><f:cObject typoscriptObjectPath="lib.attentionIcon" /></span><span class="powermail__form-errors__wording"><f:translate key="LLL:EXT:powermail_setup/Resources/Private/Language/locallang.xlf:form.errors.list.headline"/></span></h{formErrorsHeaderType}>

			<f:variable name="errorCount" value="{f:count(subject:validationResults.flattenedErrors)}"/>

			<f:if condition="{errorCount} > 1">
				<f:then>
					<f:variable name="errorsDescription"><f:translate key="LLL:EXT:powermail_setup/Resources/Private/Language/locallang.xlf:form.errors.list.description" arguments="{0:errorCount}"/></f:variable>
				</f:then>
				<f:else>
					<f:variable name="errorsDescription"><f:translate key="LLL:EXT:powermail_setup/Resources/Private/Language/locallang.xlf:form.errors.list.description.single" /></f:variable>
				</f:else>
			</f:if>
			<p class="powermail__form-errors__description">{errorsDescription}</p>

			<ul class="powermail__form-errors__list">
				<f:for each="{validationResults.flattenedErrors}" as="errors">
					<f:for each="{errors}" as="singleError">
						<f:if condition="{singleError.message} == 'spam_details'">
							<f:then>
								<f:variable name="message"><f:translate key="validationerror_spam" />{singleError.arguments.spamfactor}</f:variable>
							</f:then>
							<f:else>
								<f:if condition="{form} && {singleError.arguments.marker}">
									<f:then>
										<f:variable name="message"><vh:getter.getFieldPropertyFromMarkerAndForm marker="{singleError.arguments.marker}" form="{form}" property="title"/>: </f:variable>
									</f:then>
									<f:else>
										<f:if condition="{singleError.title}">
											<f:variable name="message" value="{singleError.title}: " />
										</f:if>
									</f:else>
								</f:if>
							</f:else>
						</f:if>
						<f:variable name="message">{message} <f:translate key="validationerror_{singleError.message}">{singleError.message}</f:translate></f:variable>

						<li class="powermail__form-errors__list-item">{message}</li>
					</f:for>
				</f:for>
			</ul>
		</div>
	</f:if>
</f:form.validationResults>
