{namespace vh=In2code\Powermail\ViewHelpers}

<f:comment>
	<!--
		FORM ERROR RENDERING

		This partial renders a list of errors in an eye-catching box with an attention icon.
	-->
</f:comment>



<f:form.validationResults>
	<f:if condition="{validationResults.flattenedErrors}">
		<div class="powermail_form_errors">
			<h4 class="powermail_form_errors__header"><span class="icon"><f:cObject typoscriptObjectPath="lib.attentionIcon" /></span><span class="wording"><f:translate key="LLL:EXT:powermail_setup/Resources/Private/Language/locallang.xlf:form.errors.list.headline"/></span></h4>

			<f:variable name="errorCount" value="{f:count(subject:validationResults.flattenedErrors)}"/>

			<f:if condition="{errorCount} > 1">
				<f:then>
					<f:variable name="errorsDescription"><f:translate key="LLL:EXT:powermail_setup/Resources/Private/Language/locallang.xlf:form.errors.list.description" arguments="{0:errorCount}"/></f:variable>
				</f:then>
				<f:else>
					<f:variable name="errorsDescription"><f:translate key="LLL:EXT:powermail_setup/Resources/Private/Language/locallang.xlf:form.errors.list.description.single" /></f:variable>
				</f:else>
			</f:if>
			<p class="powermail_form_errors__description">{errorsDescription}</p>

			<ul class="powermail_form_errors__list">
				<f:for each="{validationResults.flattenedErrors}" as="errors">
					<f:for each="{errors}" as="singleError">
						<f:if condition="{singleError.message} == 'spam_details'">
							<f:then>
								<f:variable name="message"><f:translate key="validationerror_spam" />{singleError.arguments.spamfactor}</f:variable>
							</f:then>
							<f:else>
								<f:if condition="{form} && {singleError.arguments.marker}">
									<f:then>
										<f:variable name="message"><vh:getter.getFieldPropertyFromMarkerAndForm marker="{singleError.arguments.marker}" form="{form}" property="title"/>: </f:variable>
									</f:then>
									<f:else>
										<f:if condition="{singleError.title}">
											<f:variable name="message" value="{singleError.title}: " />
										</f:if>
									</f:else>
								</f:if>
							</f:else>
						</f:if>
						<f:variable name="message">{message} <f:translate key="validationerror_{singleError.message}">{singleError.message}</f:translate></f:variable>

						<li class="powermail_form_errors__list-item">{message}</li>
					</f:for>
				</f:for>
			</ul>
		</div>
	</f:if>
</f:form.validationResults>
