{namespace vh=In2code\Powermail\ViewHelpers}
<f:layout name="SystemEmail" />

	Render Powermail Disclaimer Notification Mail
	This Mail is send to the receiver(s) if a sender disclaimed a mail


	{mail}							Complete Mail Object
	{settings}						TypoScript Settings

<f:section name="Title">
	<f:if condition="{mail.subject}">
		<f:then>
			{mail.subject}
		</f:then>
		<f:else>
			<f:translate key="LLL:EXT:template/Resources/Private/Language/Powermail/locallang.xlf:tx_powermail.email.disclaimerNotificationMail" />
		</f:else>
	</f:if>
</f:section>

<f:section name="Main">
	<f:translate key="disclaimed_entries" /><br>

	<f:format.raw>
		{powermail_all}
	</f:format.raw>
</f:section>
